{% load static %}

<footer class="footer">


    <img src="{% static 'images/NodeNexusLogo.png' %}"
         class="footer-icon"
         alt="NodeNexus Logo">


    <p class="footer-text">
        NodeNexus
    </p>

    <p class="footer-text">
        Read | Learn | Discover
    </p>


    <p class="footer-text">
        AI • Cybersecurity • Gaming • Trending
    </p>


    <p class="footer-text">
        © {% now "Y" %} NodeNexus
    </p>

    <p class="footer-text">
        Developed by <a href="https://github.com/ColmN-Dev" target="_blank">ColmN-Dev</a>
    </p>

</footer>