{% load static %}

<header class="nn-navbar">

    <div class="navbar-inner">


        <div class="logo-section">


            <img src="{% static 'images/NodeNexusLogo.png' %}"
                 alt="NodeNexus Logo">


            <div class="site-title">
                <a href="{% url 'home' %}">
                    NodeNexus
                </a>
            </div>


        </div>

        <nav class="nav-links">

            <div class="main-nav-links">

                <a href="{% url 'home' %}">
                    Home
                </a>

                |

                <a href="{% url 'ai' %}">
                    AI
                </a>

                |

                <a href="{% url 'cybersecurity' %}">
                    Cybersecurity
                </a>

                |

                <a href="{% url 'gaming' %}">
                    Gaming
                </a>

                |

                <a href="{% url 'trending' %}">
                    Trending
                </a>

            </div>

            <div class="auth-nav-links">

                {% if user.is_authenticated %}

                    <a href="{% url 'profile' %}" class="profile-nav-link">
                        <div class="profile-picture-nav">
                            {% if user.profile.preset_image %}
                                <img src="{% static 'images/' %}{{ user.profile.preset_image }}.png" alt="Profile picture" title="Your Profile">
                            {% elif user.profile.image %}
                                <img src="{{ user.profile.image.url }}" alt="Profile picture" title="Your Profile">
                            {% else %}
                                <img src="{% static 'images/default.png' %}" alt="Profile picture" title="Your Profile">
                            {% endif %}
                        </div>
                    </a>

                    |

                    <a href="{% url 'logout' %}">
                        Log Out
                    </a>

                    |

                {% else %}

                    <a href="{% url 'signup' %}">
                        Sign Up
                    </a>

                    |

                    <a href="{% url 'login' %}">
                        Log In
                    </a>

                    |

                {% endif %}

                <button class="dark-mode-toggle">

                    <img src="{% static 'images/moon.png' %}"
                        alt="Dark Mode">

                </button>

            </div>

        </nav>



        <button class="hamburger">

            <span></span>
            <span></span>
            <span></span>

        </button>



    </div>

</header>

<div class="menu-overlay"></div>


<div class="mobile-menu">

    {% if user.is_authenticated %}

    <a href="{% url 'profile' %}" class="mobile-profile-link">
        <div class="profile-picture-nav-mobile">
            {% if user.profile.preset_image %}
                <img src="{% static 'images/' %}{{ user.profile.preset_image }}.png" alt="Profile picture">
            {% elif user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="Profile picture">
            {% else %}
                <img src="{% static 'images/default.png' %}" alt="Profile picture" title="Your Profile">
            {% endif %}
        </div>
        <span>Your Profile</span>
    </a>

    <a href="{% url 'logout' %}">
        Log Out
    </a>

    {% else %}

        <a href="{% url 'signup' %}">
            Sign Up
        </a>

        <a href="{% url 'login' %}">
            Log In
        </a>

    {% endif %}

    <div class="mobile-toggle">

        <button class="dark-mode-toggle">

            <img src="{% static 'images/moon.png' %}"
                 alt="Dark Mode">

        </button>

    </div>


</div>