{% load static %}

<!-- Search Section -->
<section class="container my-5">

    <div class="row justify-content-center">

        <div class="col-12 col-lg-10">

            <form class="row g-3 search-form justify-content-center" action="{% url 'search_results' %}" method="get">

                <div class="col-12 col-md-8 search-input-wrap">
                    <label for="searchInput" class="visually-hidden">
                        Search articles
                    </label>

                    <input
                        type="search"
                        id="searchInput"
                        name="q"
                        class="form-control"
                        placeholder="Search technology news..."
                        aria-label="Search articles"
                        autocomplete="off"
                    >

                    <button type="button" id="clearBtn" aria-label="Clear search"></button>

                    <div id="suggestions"></div>

                </div>


                <div class="col-12 col-md-auto">

                    <button
                        type="submit"
                        class="btn btn-primary w-100"
                    >
                        Search
                    </button>

                </div>

            </form>

        </div>

    </div>

</section>