{% load static %}

<!-- Search Section -->
<section class="container search-container my-5">

    <form class="row g-2 justify-content-center search-form">

        <div class="col-12 col-md-8">
            <label for="searchInput" class="visually-hidden">
                Search articles
            </label>

            <input 
                type="search"
                id="searchInput"
                class="form-control"
                placeholder="Search technology news..."
                aria-label="Search articles"
            >

        </div>


        <div class="col-12 col-md-auto">

            <button 
                type="submit"
                class="btn btn-primary w-100"
            >
                Search
            </button>

        </div>

    </form>

</section>