{% extends "base.html" %}
{% load static %}

{% block title %}
Home | NodeNexus
{% endblock %}


{% block content %}


<section class="hero glass-content">

    <div class="hero-content">

        <h1>Explore The Future Of Technology</h1>

        <p>
            Discover the latest technology news,
            AI breakthroughs, cybersecurity updates,
            and gaming developments.
        </p>

        {% include "search_bar.html" %}

    </div>

</section>



<section>

    <h2 class="home-showcase-title">Featured Articles</h2>


    {% include "category_section.html" with title="Trending Now" %}

    {% include "category_section.html" with title="AI" %}

    {% include "category_section.html" with title="Cybersecurity" %}

    {% include "category_section.html" with title="Gaming" %}


</section>


{% endblock %}